.vs/
ntx20.api/bin/
*.protodep
ntx20.api/obj/
ntx20/bin/
ntx20/obj/
proto/bin/
proto/obj/
ntx20.app/bin/
ntx20.app/obj/
ntx20.app/Properties/launchSettings.json
ntx20.api.proto/bin/
ntx20.api.proto/obj/
ntx20.app/ntx20.app.csproj.user
ntx20/Properties/launchSettings.json
build/apps.nanotrix.cloud/
build/install/
